<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <title>test yuequ api</title>
</head>
<body>
    <button id="btn">get user</button>
    <button id="btn2">get user</button>
    <button id="btn3">get user repos</button>
    <button id="btn4">获取仓库详情</button>
    <button id="btn5">获取仓库文档列表</button>
    <button id="btn6">获取文档详情</button>

    <div id="cont">
        
    </div>

    <script src="/public/js/main.js"></script>
</body>
</html>