<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  <script type="module" crossorigin src="/public/assets/index.b2221340.js"></script>
  <link rel="modulepreload" href="/public/assets/vendor.2126c287.js">
  <link rel="stylesheet" href="/public/assets/index.bba75fa3.css">
</head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
