<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <title>test yuequ api</title>
</head>

<body>
    <label for="username">username:</label>
    <input type="text" id="username">
    <br>
    <label for="pass">password</label>
    <input type="text" id="pass">
    <br>
    <button id="login">login</button>
    <button id="sign">sign in</button>
    <h3>login info</h3>
    <div id="cont">

    </div>

    <script src="/public/js/user.js"></script>
</body>

</html>