{{#section 'pagestyle'}}
<link rel="stylesheet" href="css/main.css"> {{/section}}
<header>
    <div class="header-logo">
        <a href="#" class="">
            <img src="/images/logo.png" alt="">
        </a>
    </div>
    <div class="header-nav">
        <a href="/" class="header-nav-home active"></a>
        <a href="#" class="header-nav-explore"></a>
        <a href="#" class="header-nav-envelope"></a>
        <a href="#" class="header-nav-message"></a>
        <a href="#" class="header-nav-user"></a>
        <a href="/post" class="header-nav-edit"></a>
    </div>
</header>
<section class="container">
    <div class="column_left">
        <div class="posts">
            {{#each articles}}
            <div class="post">
                <div class="avatar lf">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="post_content lf">
                    <div class="post_header">
                        <a href="#">post_name</a>
                        <a href="#"> follow</a>
                    </div>
                    <div class="post_body">
                        <h2>{{blog_title}}</h2>
                        <p>
                            {{blog_content}}
                        </p>

                    </div>
                    <div class="post_footer">
                        <div class="post_footer_left lf">
                            <span>1222</span>
                            <span>notes</span>
                        </div>
                        <div class="post_footer_right rf">
                            <span>love</span>
                            <span>comment</span>
                            <span>share</span>
                        </div>
                    </div>
                </div>
                <div class="clear">

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

{{#section 'pagescript'}}
<script src="js/main.js"></script> {{/section}}